/* Fonts START */
@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto Bold'),
    local('Roboto-Bold'),
    url('../fonts/Roboto-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto Light'),
    local('Roboto-Light'),
    url('../fonts/Roboto-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto Black'),
    local('Roboto-Black'),
    url('../fonts/Roboto-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto Medium'),
    local('Roboto-Medium'),
    url('../fonts/Roboto-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src:
    local('Roboto'),
    local('Roboto-Regular'),
    url('../fonts/Roboto-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* Fonts END */

/* Global Styles START */
:root {
  --color-1: #5b78cd;
  --color-1-hover: #465fad;
  --color-2: #2d3a4e;
  --color-white: #fff;
  --size: 50px;
}
* {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: 'Roboto';
  color: #000;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  min-width: 320px;
  position: relative;
  font-weight: 400;
  padding-bottom: 200px;
}

input,
label,
textarea,
button {
  font-family: 'Roboto';
  outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 20px;
}

p {
  line-height: 1.8;
}

input,
textarea,
div {
  box-sizing: border-box;
}
ul {
  margin: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
.uppercase {
  text-transform: uppercase;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.button {
  background-color: var(--color-1);
  color: var(--color-white);
  display: inline-block;
  font-size: 18px;
  padding: 14px 50px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.5s ease;
}
.button:hover {
  background-color: var(--color-1-hover);
}
.swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  border: 1px solid var(--color-white);
  background-color: #d4d4d4;
  margin: 0 5px !important;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background-color: var(--color-1);
}
.swiper-button-prev,
.swiper-button-next {
  background-color: var(--color-white);
  padding: 14px;
  width: var(--size);
  height: var(--size);
  border-radius: 5px;
}
.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 22px;
  color: #3d445d;
}
.swiper-button-prev {
  left: 15px;
}
.swiper-button-next {
  right: 15px;
}
.p-100 {
  padding: 100px 0;
}
.title-row {
  display: flex;
  align-items: center;
  gap: 22px;
  margin-bottom: 30px;
}
.title-row .title-text {
  margin-bottom: 0;
  font-weight: 700;
  font-size: 42px;
}
.title-row .title-icon {
  max-width: 58px;
}
.title-column {
  text-align: center;
  margin-bottom: 60px;
}
.title-column .title-text {
  margin-bottom: 0;
  font-size: 42px;
}
.title-column .title-desc {
  color: #9d9c9c;
}
.bg-gray {
  background-color: #f4f4f4;
}
.title-white {
  color: #fff;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  /* ideally, transition speed should match zoom duration */
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
  opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
  opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}
/* Global Styles END */
