@import url('global.css');

/* Modal form START */
.modal-form-wrap {
  max-width: 460px;
  margin: 0 auto;
  background-color: var(--color-white);
  padding: 20px 30px 50px 30px;
  border-radius: 5px;
}
.modal-form-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #cfcece;
  padding-bottom: 15px;
  margin-bottom: 30px;
}
.modal-logo img {
  max-width: 150px;
}
.modal-close {
  cursor: pointer;
}
.modal-close img {
  display: block;
}
.modal-body {
  text-align: center;
}
.modal-title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.3;
}
.modal-title::after {
  content: '';
  display: block;
  height: 4px;
  width: 52px;
  border-radius: 5px;
  margin: 14px auto 0 auto;
  background-color: var(--color-1);
}
.modal-body form {
  max-width: 310px;
  margin: 0 auto;
}
.modal-body form input {
  width: 100%;
  padding: 18px 20px;
}
.modal-body form button {
  text-transform: uppercase;
  padding: 18px 50px;
}
.modal-body form p:last-child {
  margin-bottom: 0;
}
/* Modal form END */

/* Header START */
.header-top {
  background-color: #33344f;
  color: #fff;
  padding: 18px 0;
}
.header-top-row,
.header-info {
  display: flex;
  align-items: center;
}
.header-info {
  margin-left: auto;
  gap: 25px;
  align-items: center;
}
.header-info-icon img {
  display: block;
}
.header-social {
  display: flex;
  gap: 22px;
}
.header-social a {
  transition: 0.5s ease;
}
.header-social a:hover {
  opacity: 0.8;
}
.header-social a img {
  display: block;
}
.header-info-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.header-logo img {
  max-width: 150px;
}
.menu-nav ul {
  padding: 0;
}
.menu-nav > ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  column-gap: 40px;
}
.menu-nav ul li {
  position: relative;
  /* display: flex; */
}
.menu-nav ul li a {
  display: block;
  transition: 0.3s ease;
}
.menu-nav ul li.menu-item-has-children {
  display: flex;
}
.menu-nav ul li.menu-item-has-children::after {
  content: url('../images/header/caret.svg');
  margin-left: 8px;
}

.menu-nav ul li.menu-item-has-children:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: none;
}
.menu-nav ul .sub-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  list-style-type: none;
  min-width: 195px;
  border-radius: 5px;
  z-index: 2;
  background-color: var(--color-white);
  box-shadow: 0 0 5px 0 rgba(71, 71, 77, 0.12);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
  transform: translateX(20px);
}
.menu-nav ul .sub-menu li a {
  padding: 12px 20px;
}
.menu-nav ul .sub-menu li a:hover {
  background-color: var(--color-1);
  color: var(--color-white);
}
.header-btn a {
  display: inline-block;
  background-color: var(--color-1);
  padding: 14px 50px;
  border-radius: 5px;
  color: var(--color-white);
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s ease;
}
.header-btn a:hover {
  background-color: var(--color-1-hover);
}
/* Header END */

/* Banner START */
.swiper-banner .swiper-slide {
  height: auto;
}
.banner-item {
  position: relative;
  padding: 120px 0;
  color: var(--color-white);
  z-index: 0;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}
.banner-item::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(57, 54, 159, 0.28);
  z-index: -1;
}
.banner-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.5;
}
.banner-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 190%;
  max-width: 572px;
  margin-bottom: 30px;
}
.swiper-banner .swiper-pagination {
  bottom: 35px;
}
/* Banner END */

/* About START */
.about-row {
  display: flex;
  column-gap: 60px;
}
.about-left {
  max-width: 487px;
}
.about-desc {
  margin-bottom: 32px;
}
.about-desc {
  font-weight: 400;
  font-size: 16px;
  color: #040404;
}
.about-numbers {
  background-color: var(--color-2);
  padding: 50px;
  border-radius: 5px;
  color: var(--color-white);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 45px 0;
}
.numbers-title {
  font-weight: 700;
  font-size: 48px;
}
.about-right {
  position: relative;
  top: -35px;
  margin-left: auto;
}
.numbers-subtitle {
  font-size: 16px;
  line-height: 1.29;
}
.numbers-item {
  text-align: center;
}
.about-image-1,
.about-image-2 {
  border-radius: 5px;
  overflow: hidden;
}
.about-image-1 img {
  display: block;
  max-width: 520px;
}
.about-image-2 {
  position: absolute;
  left: -135px;
  bottom: 38px;
  border: 14px solid var(--color-white);
}
.about-image-2 img {
  display: block;
  max-width: 372px;
}
.about-btn {
  position: absolute;
  bottom: -35px;
  left: -122px;
}
/* About END */

/* Classes START */
.classes-row {
  display: flex;
  column-gap: 20px;
}
.classes-thumb {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}
.classes-item:hover .classes-thumb img {
  transform: scale(1.1);
}
.classes-item:hover .classes-title {
  color: var(--color-1);
}
.classes-thumb img {
  display: block;
  width: 100%;
  transition: 0.8s ease;
}
.classes-title {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  margin-bottom: 0;
  transition: 0.5s ease;
}
/* Classes END */

/* Instructors START */
.instructors-row {
  display: flex;
  column-gap: 20px;
}
.instructors-item {
  background-color: #ebebeb;
  border-radius: 5px;
}
.instructors-item:hover .instructors-thumb img {
  transform: scale(1.1);
}
.instructors-thumb {
  border-radius: 5px;
  overflow: hidden;
  height: 290px;
}
.instructors-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.8s ease;
  object-fit: cover;
  object-position: top center;
}
.instructors-body {
  padding: 20px 30px 40px 30px;
  text-align: center;
}
.instructors-title {
  font-weight: 500;
  font-size: 24px;
  color: var(--color-1);
  border-bottom: 1px solid #d8d1d1;
  padding-bottom: 12px;
}
.instructors-spec-title {
  font-size: 14px;
  color: #b6adad;
  margin-bottom: 10px;
}
.instructors-spec {
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 32px;
}
.instructors-social {
  display: flex;
  gap: 22px;
  justify-content: center;
}
.instructors-social a:hover img {
  filter: brightness(0.3);
}
/* Instructors END */

/* Gallery START */
.gallery-wrap {
  background-color: #3f3854;
}
.grid-item {
  float: left;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow: hidden;
}
.grid-sizer,
.grid-item {
  width: calc(25% - 15px);
}
.grid-item img {
  max-width: 100%;
}
.grid-item a,
.grid-item a img {
  display: block;
}
.grid-item a:hover::before,
.grid-item a:hover::after {
  opacity: 1;
}
.grid-item a {
  position: relative;
}
.grid-item a::before {
  content: url('../images/gallery/magnify.svg');
  position: absolute;
  background-color: rgba(37, 31, 31, 0.4);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: 0.8s ease;
}
.grid-item a::after {
  content: 'Увеличить';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 32px;
  color: #fff;
  font-weight: 18;
  opacity: 0;
  transition: 0.8s ease;
}
.gallery-btn {
  text-align: center;
  margin-top: 40px;
}

/* Gallery END */

/* FAQ START */
.faq-group {
  max-width: 900px;
  margin: 0 auto;
}
.faq-question {
  position: relative;
  background-color: #dee5fe;
  border-radius: 5px;
  padding: 20px 50px 20px 30px;
  font-weight: 500;
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 20px;
  cursor: pointer;
}
.faq-question::after {
  content: url('../images/faq/plus.svg');
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 30px;
  width: 32px;
  height: 32px;
  transition: 0.5s ease;
}
.faq-question.is-active::after {
  transform: translateY(-50%) rotate(45deg);
}
.faq-answer {
  display: none;
  background-color: #eee;
  padding: 20px 106px 20px 30px;
  font-size: 22px;
  line-height: 1.6;
  border-radius: 5px;
  color: #5a5757;
  margin-bottom: 20px;
}
.faq-answer p {
  margin-bottom: 0;
}
/* FAQ END */

/* Reviews START */
.swiper-reviews .swiper-slide {
  height: auto;
}
.reviews-item {
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--color-1);
  height: 100%;
}
.reviews-thumb {
  height: 306px;
  overflow: hidden;
}
.reviews-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.reviews-body {
  padding: 20px 25px 50px 25px;
}
.reviews-name {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 5px;
}
.reviews-text {
  font-size: 16px;
  line-height: 1.6;
  color: #888383;
  margin-bottom: 30px;
}
.reviews-social {
  position: absolute;
  left: 25px;
  bottom: 15px;
  width: calc(100% - 50px);
  border-top: 1px solid #d8d1d1;
  padding-top: 20px;
  display: flex;
  column-gap: 22px;
}
.reviews-social a:hover img {
  filter: brightness(0.3);
}
.swiper-reviews .swiper-pagination {
  position: static;
  margin-top: 34px;
}
/* Reviews END */

/* Contacts START */
.contacts-wrap {
  position: relative;
  z-index: 0;
  background-size: cover;
  background-position: 70% top;
}
.contacts-wrap::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(24, 66, 96, 0.3);
  z-index: -1;
}
.contacts-row .title-column {
  margin-bottom: 40px;
}
.contacts-row {
  display: flex;
  background-color: rgba(63, 56, 84, 0.9);
  padding: 80px 70px;
  border-radius: 5px;
}
.contacts-left {
  min-width: 565px;
  padding-right: 70px;
  margin-right: 70px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}
.contacts-left form fieldset {
  border: none;
  padding: 0;
  margin: 0;
}

.contacts-left form input,
.contacts-left form textarea,
.contacts-left form select {
  border: none;
  background-color: var(--color-white);
}
.contacts-left form .form-group {
  display: flex;
  column-gap: 25px;
  margin-bottom: 25px;
}
.contacts-left form .form-group input,
.contacts-left form .form-group select {
  width: 50%;
}
.contacts-left form .form-single {
  margin-bottom: 25px;
}
.form-single textarea {
  width: 100%;
  height: 262px;
  resize: none;
}
.form-btn {
  text-align: center;
}
.form-btn button {
  text-transform: uppercase;
  font-size: 16px;
  padding: 15px 50px;
}
/*Contacts Right */
.contacts-right {
  color: var(--color-white);
  margin-top: 55px;
  width: 40%;
}
.contacts-title {
  font-weight: 700;
  font-size: 38px;

  margin-bottom: 32px;
}
.contacts-info {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-bottom: 30px;
}
.contacts-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 18px;
}
.contacts-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
}
.contacts-map iframe {
  width: 100%;
  height: 319px;
  border-radius: 5px;
}
/* Contacts END */

/* Breadcrumbs START */
.breadcrumbs-wrap {
  background-color: var(--color-1);
  color: var(--color-white);
  text-align: center;
  padding: 58px 0;
}
.breadcrumbs-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.4;
  max-width: 740px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}
.breadcrumbs-wrap .container > span {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  font-size: 18px;
}
.breadcrumb-last {
  font-weight: 700;
}
/* Breadcrumbs END*/

/* About inner START */
.about-inner .about-row {
  justify-content: center;
}
.about-inner .about-image-1 img {
  max-width: 457px;
}
.about-inner .about-left {
  max-width: 518px;
}
.about-inner .about-desc {
  color: var(--color-text);
}
.about-inner .about-desc strong {
  color: var(--color-black);
}
.about-inner-btn {
  margin-top: 50px;
}
.about-inner .about-right {
  margin-left: 0;
  top: 0;
}
.about-numbers-inner {
  grid-template-columns: repeat(4, 1fr);
  border-radius: 0;
  padding: 50px 180px;
}
.about-numbers-inner .numbers-subtitle {
  color: #c1c1c1;
}
.video-item a {
  position: relative;
  display: block;
  max-width: 790px;
  height: 497px;
  overflow: hidden;
  border-radius: 5px;
  margin: 0 auto;
}
.video-item a::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(51, 44, 44, 0.3);
  z-index: 0;
}
.video-item a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-play {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.video-play img {
  max-width: 65px;
}
/* About inner END */

/* Instructors inner START */
.instructors-about-row {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 45px;
}
.instructors-about-left img {
  display: block;
  max-width: 450px;
  border-radius: 5px;
}
.instructors-about-right {
  max-width: 500px;
}
.instructors-desc {
  color: var(--color-text);
}
.instructors-desc ul {
  padding-left: 15px;
}
/* Instructors inner END */

/* Instructors single START */
.inst-contact-wrap {
  margin-top: 55px;
}
.inst-contact-row {
  background-color: var(--color-2);
  display: flex;
  justify-content: center;
  column-gap: 50px;
  padding: 60px 170px;
  border-radius: 5px;
  color: var(--color-white);
  text-align: center;
}
.inst-contact-item {
  border: 1px solid var(--color-white);
  border-radius: 5px;
  padding: 54px 40px;
  min-width: 33%;
}
.inst-contact-icon {
  margin-bottom: 12px;
}
.inst-contact-icon img {
  width: 32px;
}
.inst-contact-title {
  font-size: 15px;
  margin-bottom: 8px;
  line-height: 1.3;
}
.inst-contact-value {
  font-weight: 700;
  font-size: 20px;
}
.inst-contact-social {
  display: flex;
  justify-content: center;
  column-gap: 20px;
  margin-top: 20px;
}
/* Instructors single END */

/* Classes single START */
.classes-about-row {
  display: flex;
  column-gap: 35px;
}
.classes-sidebar {
  position: sticky;
  top: 10px;
  min-width: 310px;
  height: 100%;
}
.classes-sidebar ul {
  background-color: #f4f0f0;
  border-radius: 5px;
  list-style-type: none;
  padding-left: 0;
  overflow: hidden;
}
.classes-sidebar ul li a {
  display: block;
  padding: 15px 30px;
  font-size: 18px;
  transition: 0.35s ease;
}
.classes-sidebar ul li.is-active {
  background-color: var(--color-1);
  color: var(--color-white);
}
.classes-sidebar ul li a:hover {
  background-color: var(--color-1);
  color: var(--color-white);
}
.classes-content-image {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 40px;
}
.classes-content-image img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.classes-content-title {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 32px;
}
.classes-content p {
  color: var(--color-text);
}
/* Classes single END */

/* Blog START */
.blog-row {
  display: flex;
  column-gap: 35px;
}
.blog-item {
  border-bottom: 1px solid #e5e1e1;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.blog-left {
  max-width: 770px;
}
.blog-thumb {
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  height: auto;
}
.blog-thumb a,
.blog-thumb img {
  display: block;
}
.blog-thumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-date-wrap {
  display: flex;
  align-items: center;
  column-gap: 20px;
  color: #a8a8a8;
  margin-bottom: 10px;
}
.blog-date {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.blog-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 10px;
}
.blog-excerpt {
  line-height: 1.7;
  color: var(--color-text);
}
.blog-excerpt p {
  margin-bottom: 0;
}
.paginations {
  margin-top: 40px;
}
.paginations .page-numbers {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  list-style-type: none;
  padding: 0;
}
.paginations .page-numbers li a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 56px;
  padding: 12px 20px;
  background-color: #e8e8e8;
  border-radius: 5px;
  font-size: 18px;
  transition:
    background-color 0.35s ease,
    color 0.35s ease;
}
.paginations .page-numbers li a:hover {
  background-color: var(--color-1);
  color: var(--color-white);
}
.paginations .page-numbers li .current {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 56px;
  padding: 12px 20px;
  background-color: var(--color-1);
  color: var(--color-white);
  border-radius: 5px;
  font-size: 18px;
}
.widget:not(:last-child) {
  margin-bottom: 40px;
}
.widget-title {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 15px;
}
.widget_search form {
  display: flex;
}
.widget_search form input[type='text'] {
  background-color: #eee;
  border: none;
  width: 100%;
}
.widget_search form button {
  background-color: var(--color-1);
  color: var(--color-white);
  border: none;
  border-radius: 0 5px 5px 0;
  min-width: 56px;
  cursor: pointer;
  transition: 0.35s ease;
}
.widget_search form button:hover {
  background-color: var(--color-1-hover);
}
.widget_categories ul {
  list-style-type: none;
  padding: 0;
}
.widget_categories ul li:not(:last-child) {
  margin-bottom: 12px;
}
.widget_categories ul li a {
  color: #635f5f;
  transition: 0.35s ease;
}
.widget_categories ul li a:hover {
  color: var(--color-black);
}
.widget_recent_entries ul {
  list-style-type: none;
  padding: 0;
}
.widget_recent_entries ul li:not(:last-child) {
  margin-bottom: 20px;
}
.widget_recent_entries ul li a {
  display: block;
  color: #635f5f;
  margin-bottom: 5px;
  transition: 0.35s ease;
}
.widget_recent_entries ul li a:hover {
  color: var(--color-black);
}
.widget_recent_entries .post-date {
  color: #a8a8a8;
}
.widget_recent_entries .post-date::before {
  content: '\f133';
  display: inline-block;
  font-family: 'FontAwesome';
  color: #aaaaaa;
  margin-right: 10px;
}
.widget_tagcloud .tagcloud {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style-type: none;
  padding: 0;
}
.widget_tagcloud .tagcloud li {
  display: inline-block;
}
.widget_tagcloud .tagcloud li a {
  display: inline-block;
  padding: 10px 28px;
  border: 1px solid #ccc8c8;
  border-radius: 50px;
  font-size: 14px;
  transition: 0.35s ease;
}
.widget_tagcloud .tagcloud li a:hover {
  border-color: var(--color-1);
  color: var(--color-1);
}
/* Blog END */

/* Article START */
.blog-article {
  border: 1px solid #b7b3b3;
  border-radius: 5px;
  padding: 22px;
  margin-bottom: 55px;
}
.article-thumb {
  border-radius: 5px;
  overflow: hidden;
  height: 313px;
  margin-bottom: 30px;
}
.article-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.blog-article .blog-date-wrap {
  margin-bottom: 20px;
}
.blog-article .blog-title {
  margin-bottom: 20px;
}
.article-content {
  color: #635f5f;
}
.article-content ul,
.article-content ol {
  padding-left: 15px;
}
.article-content blockquote {
  background-color: #efefef;
  border-left: 3px solid var(--color-1);
  border-radius: 5px;
  padding: 15px 25px 15px 22px;
  margin: 0;
  font-size: 14px;
  line-height: 1.7;
  color: #635f5f;
}
.article-nav-wrap {
  margin-top: 35px;
}
.article-nav-item {
  display: flex;
  align-items: center;
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  padding: 8px 18px 8px 10px;
}
.article-nav-item:not(:last-child) {
  margin-bottom: 15px;
}
.article-nav-thumb {
  width: 66px;
  min-width: 66px;
  margin-right: 12px;
  border-radius: 5px;
  overflow: hidden;
}
.article-nav-thumb img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.article-nav-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}
.article-nav-title {
  font-weight: 500;
  color: var(--color-black);
  margin-bottom: 6px;
}
.article-nav-subtitle {
  font-size: 14px;
  line-height: 1.28571;
  color: #858585;
}
.comment-list {
  padding: 0;
  list-style-type: none;
}
.comment-body {
  display: flex;
  column-gap: 18px;
}
.comment-author {
  width: 115px;
  min-width: 115px;
  height: 115px;
  overflow: hidden;
  border-radius: 5px;
}
.comment-author img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.comment-head {
  margin-bottom: 10px;
}
.comment-meta cite {
  display: block;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
}
.comment-meta time {
  font-size: 14px;
  line-height: 1.375;
  color: #8b8c8e;
}
.comment-meta time::before {
  content: url('../images/article/icon-time.svg');
  margin-right: 10px;
  display: inline-block;
  vertical-align: middle;
}
.comment-content .comment-text {
  line-height: 1.7;
  color: #646161;
  margin-bottom: 20px;
}
.comment-text p {
  margin-bottom: 0;
}
.comment-content .reply a {
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 8px 24px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.375;
  color: #6c6363;
  transition: 0.35s ease;
}
.comment-content .reply a:hover {
  border: 1px solid var(--color-1);
}
.comment-content .reply a::after {
  content: url('../images/article/icon-reply.svg');
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
}
.comment {
  border-bottom: 1px solid #d7d6d6;
  padding-bottom: 30px;
}
.comment:not(:last-child) {
  margin-bottom: 30px;
}
.comment-reply-title {
  display: block;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.7;
  margin-bottom: 20px;
}
.comment-respond input,
.comment-respond textarea {
  width: 100%;
}
.comment-respond textarea {
  resize: none;
  min-height: 218px;
}
.comment-respond .form-submit button {
  background-color: var(--color-1);
  border-radius: 5px;
  font-weight: 500;
  font-size: 16px;
  padding: 19px 46px;
  color: var(--color-white);
  border: none;
  cursor: pointer;
  transition: 0.35s ease;
}
.comment-respond .form-submit button:hover {
  background-color: var(--color-1-hover);
}
/* Article END */

/* Footer START */
.footer {
  background-color: #2b2632;
  padding-top: 60px;
  color: var(--color-white);
}
.footer-row {
  display: flex;
}
.footer-left {
  max-width: 285px;
  margin-right: 200px;
}
.footer-logo {
  margin-bottom: 40px;
}
.footer-logo img {
  max-width: 150px;
}
.footer-desc {
  margin-bottom: 44px;
}
.footer-desc p {
  color: #c3c2c2;
  margin-bottom: 0;
}
.footer-social {
  display: flex;
  align-items: center;
  column-gap: 22px;
}
.footer-social a:hover img {
  filter: brightness(0.6);
}
/* Right */
.footer-right {
  display: flex;
  column-gap: 100px;
}
.footer-menu-title {
  font-weight: 500;
  font-size: 22px;
  line-height: 1.4;
  margin-bottom: 22px;
}
.footer-menu-nav ul {
  padding: 0;
  list-style-type: none;
}
.footer-menu-nav ul li:not(:last-child) {
  margin-bottom: 15px;
}
.footer-menu-nav ul li a {
  color: #c1c1c1;
  transition: 0.35s ease;
  white-space: nowrap;
}
.footer-menu-nav ul li a:hover {
  color: var(--color-white);
}
.footer-contacts-item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: #c1c1c1;
}
.footer-contacts-item:nth-last-child(n + 2) {
  margin-bottom: 22px;
}
.footer-contacts-icon img {
  vertical-align: middle;
}
.footer-copyright {
  padding: 32px 0;
  margin-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}
.footer-copyright p {
  margin-bottom: 0;
  text-align: center;
  color: #b5afaf;
}
.hamburger,
.header-mobile {
  display: none;
}
/* Footer END */

/* Responsive START */
@media (max-width: 1380px) {
  /* Banner START */
  .banner-item {
    padding: 120px 80px;
  }
  /* Banner END */
}

@media (max-width: 1200px) {
  /* Header 1200px START */
  .header-logo img {
    max-width: 140px;
  }
  .header-btn a {
    padding: 14px 30px;
    font-size: 16px;
  }
  .menu-nav ul {
    column-gap: 25px;
  }
  /* Header 1200px END */

  /* About 1200px START */
  /* .about-left {
    max-width: 450px;
  } */
  .about-image-1 img {
    max-width: 460px;
  }
  .about-image-2 {
    left: -50px;
  }
  .about-btn {
    left: -38px;
  }
  /* About 1200px END */

  /* Contacts 1200px START  */
  .contacts-row {
    padding: 70px 50px;
  }
  .contacts-left {
    padding-right: 50px;
    margin-right: 50px;
  }
  /* Contacts 1200px END  */

  /* About inner 1200px START */
  .about-numbers-inner {
    padding: 50px 0;
  }
  /* About inner 1200px END */

  /* Instructors single 1200 START */
  .inst-contact-row {
    padding: 60px 20px;
    column-gap: 30px;
  }
  .inst-contact-item {
    min-width: 30%;
    width: 30%;
  }
  /* Instructors single 1200 END */

  /* Footer 1200px START */
  .footer-left {
    margin-right: 100px;
  }
  /* Footer 1200px END */
}

@media (max-width: 1024px) {
  /* Header 1024px START */
  .header-info {
    column-gap: 15px;
  }
  /* Header 1024px END */
}

@media (max-width: 992px) {
  /* Global 992 START */
  .title-row .title-icon img {
    max-width: 48px;
  }
  .title-column {
    margin-bottom: 30px;
  }
  .title-column .title-text {
    margin-bottom: 0;
    font-size: 36px;
    line-height: 1.4;
  }
  .p-100 {
    padding: 60px 0;
  }
  /* Global 992 END */

  /* Header 992px START */
  .header-bottom-row {
    padding: 20px 0;
  }
  .header-logo img {
    max-width: 120px;
  }
  .header-top {
    display: none;
  }
  .menu-nav,
  .header-btn {
    display: none;
  }
  .hamburger {
    display: block;
    font-size: 24px;
    color: var(--color-1);
  }
  .header-mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: var(--color-1);
    color: var(--color-white);
    padding: 20px 20px 50px 20px;
    overflow-y: auto;
    transform: translateX(-100%);
    transition: 0.5s ease;
  }
  .header-mobile.is-active {
    transform: none;
  }
  .header-mobile-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 30px;
    padding-bottom: 18px;
  }
  .header-mobile-close {
    font-size: 30px;
    line-height: 1;
  }
  .header-mobile-logo img {
    max-width: 120px;
  }
  .header-mobile-top {
    margin-bottom: 30px;
  }
  .header-info-item {
    margin-bottom: 15px;
  }
  .header-mobile-social {
    display: flex;
    column-gap: 15px;
    margin-bottom: 15px;
  }
  .menu-mobile-nav {
    margin-bottom: 50px;
  }
  .menu-mobile-nav ul {
    padding: 0;
    list-style-type: none;
  }
  .menu-mobile-nav ul li {
    position: relative;
    margin-bottom: 15px;
  }

  .menu-mobile-nav .sub-menu {
    display: none;
    margin-top: 15px;
    margin-left: 15px;
  }
  .open-submenu {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    transition: 0.5s ease;
  }
  .open-submenu.is-active {
    transform: rotate(180deg);
  }
  .header-mobile-btn a {
    display: inline-block;
    background-color: var(--color-white);
    padding: 12px 30px;
    border-radius: 5px;
    color: #000;
  }
  /* Header 992px END */

  /* Banner START */
  .banner-title {
    font-size: 36px;
    line-height: 1.4;
  }
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
  .banner-item {
    padding: 90px 0;
  }
  /* Banner END */

  /* About 992px START */
  .title-row .title-text {
    font-size: 36px;
  }
  .title-column .title-text {
    font-size: 36px;
    margin-bottom: 10px;
  }
  .about-row {
    flex-direction: column;
    row-gap: 30px;
  }
  .about-left,
  .about-image-1 img {
    max-width: 100%;
  }
  .about-right {
    margin: 0 auto;
    top: 0;
  }
  .about-image-2 {
    bottom: 66px;
    left: -120px;
  }
  .about-btn {
    position: static;
    margin-top: 130px;
  }
  /* About 992px END */

  /* Classes 992px START */
  .classes-row {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .classes-item {
    width: calc(50% - 10px);
  }
  /* Classes 992px END */

  /* Instructors 992px START */
  .instructors-row {
    flex-wrap: wrap;
    row-gap: 30px;
  }
  .instructors-item {
    width: calc(50% - 10px);
  }
  .instructors-thumb {
    height: 400px;
  }
  /* Instructors 992px END */

  /* Gallery 992px START */
  .grid-sizer,
  .grid-item {
    width: calc(33.3% - 15px);
  }
  /* Gallery 992px END */

  /* Contacts 992px START  */
  .contacts-row {
    flex-direction: column;
    padding: 60px 40px;
  }
  .contacts-left {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
    min-width: auto;
  }
  .contacts-left form .form-group {
    column-gap: 20px;
    margin-bottom: 20px;
  }
  .contacts-right {
    width: 100%;
  }
  .contacts-item {
    justify-content: center;
  }
  .contacts-title {
    text-align: center;
    font-size: 32px;
  }
  /* Contacts 992px END  */

  /* About inner 992px START */
  .about-inner .about-image-1 img {
    max-width: 100%;
  }
  .about-inner-btn {
    margin-top: 20px;
  }
  /* About inner 992px END */

  /* Instructors inner 992 START */
  .instructors-about-left img {
    max-width: 360px;
  }
  .instructors-about-row {
    column-gap: 30px;
  }
  /* Instructors inner 992 END */

  /* Instructors single 992px START */
  .inst-contact-row {
    flex-wrap: wrap;
    row-gap: 25px;
  }
  .inst-contact-item {
    width: 100%;
  }
  /* Instructors single 992px END */

  /* Classes single 992 START */
  .classes-sidebar {
    min-width: 260px;
  }
  .classes-sidebar ul li a {
    font-size: 16px;
  }
  /* Classes single 992 END */

  /* Blog 992 START */
  .blog-row {
    flex-direction: column;
    gap: 40px;
  }
  .blog-left {
    max-width: none;
  }
  /* Blog 992 END */

  /* Footer 992px START */
  .footer-row {
    flex-direction: column;
  }
  .footer-left {
    margin-bottom: 60px;
    margin-right: 0;
    max-width: none;
  }
  .footer-right {
    column-gap: 60px;
  }
  /* Footer 992px END */
}

@media (max-width: 768px) {
  /* Instructors 768px START */
  .instructors-thumb {
    height: 320px;
  }
  .instructors-title,
  .instructors-spec {
    font-size: 20px;
  }
  /* Instructors 768px END */

  /* FAQ 768px START */
  .faq-question {
    font-size: 18px;
    padding: 20px 60px 20px 20px;
  }
  .faq-answer {
    padding: 20px 80px 20px 20px;
  }
  /* FAQ 768px END */

  /* About inner 768px START */
  .about-numbers-inner {
    grid-template-columns: repeat(2, 1fr);
  }
  /* About inner 768px END */

  /* Instructors inner 768px START */
  .instructors-about-row {
    flex-direction: column;
    row-gap: 30px;
  }
  .instructors-about-left {
    width: 100%;
  }
  .instructors-about-left img,
  .instructors-about-right {
    max-width: none;
  }
  .instructors-about-left img {
    width: 100%;
  }
  .instructors-about .title-row br {
    display: none;
  }
  /* Instructors inner 768px END */

  /* Classes single 768px START */
  .classes-about-row {
    flex-direction: column;
  }
  .classes-sidebar {
    position: static;
    margin-top: 10px;
    order: 1;
  }
  .classes-sidebar ul li a {
    padding: 15px 20px;
  }
  .classes-content-image {
    margin-bottom: 20px;
  }
  .classes-content-title {
    font-size: 28px;
    margin-bottom: 15px;
    line-height: 1.3;
  }
  /* Classes single 768px END */
}

@media (max-width: 575px) {
  /* Global 575px SRART */
  .title-row {
    gap: 10px;
    margin-bottom: 20px;
  }
  .title-row .title-text {
    font-size: 30px;
  }
  .title-row .title-icon img {
    max-width: 45px;
  }
  .title-column .title-text {
    font-size: 32px;
  }
  /* Global 575px END */

  /* Modal 575 START */
  .modal-logo img {
    max-width: 130px;
  }
  .modal-title {
    font-size: 24px;
  }
  /* Modal 575 END */

  /* Header 575px START */
  .header-logo img {
    max-width: 110px;
  }
  /* Header 575px END */

  /* About 575px START */
  .about-image-2 {
    left: auto;
    right: -20px;
  }
  .about-image-2 img {
    max-width: 250px;
  }
  .numbers-title {
    font-size: 36px;
  }
  .about-numbers {
    padding: 30px;
  }
  /* About 575px END */

  /* Classes 575px START */
  .classes-title {
    font-size: 18px;
  }
  /* Classes 575px END */

  /* Instructors 575px START */
  .instructors-item {
    width: 100%;
  }
  /* Instructors 575px END */

  /* Gallery 575px START */
  .grid-sizer,
  .grid-item {
    width: calc(50% - 10px);
  }
  .gallery-btn {
    margin-top: 20px;
  }
  /* Gallery 575px END */

  /* FAQ 575px START */
  .faq-question::after {
    right: 20px;
  }
  .faq-answer {
    padding: 20px 20px;
    font-size: 18px;
  }
  /* FAQ 575px END */

  /* Reviews 575px START */
  .reviews-name {
    font-size: 20px;
  }
  /* Reviews 575px END */

  /* Contacts 575px START  */
  .contacts-left form .form-group {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .contacts-left form .form-group input,
  .contacts-left form .form-group select {
    width: 100%;
    margin-bottom: 20px;
  }
  .form-single textarea {
    height: 200px;
  }
  /* Contacts 575px END  */

  /* About inner Video 575px START */
  .video-item a {
    height: 300px;
  }
  .video-play img {
    max-width: 50px;
  }
  /* About inner Video 575px END */

  /* Blog 575 START */
  .paginations .page-numbers li a {
    font-size: 16px;
  }
  .blog-title {
    font-size: 20px;
  }
  .blog-date {
    font-size: 14px;
  }
  /* Blog 575 END */

  /* Article 575 START */
  .article-nav-thumb {
    display: none;
  }
  .comment-body {
    flex-direction: column;
  }
  .comment-author {
    margin-bottom: 10px;
  }
  /* Article 575 END */

  /* Footer 575px START */
  .footer-logo {
    margin-bottom: 20px;
  }
  .footer-logo img {
    max-width: 130px;
  }
  .footer-left {
    margin-bottom: 40px;
  }
  .footer-desc {
    margin-bottom: 30px;
  }
  .footer-right {
    flex-direction: column;
    row-gap: 30px;
  }
  .footer-copyright p {
    font-size: 14px;
  }
  /* Footer 575px END */

  /* Breadcrumbs 575 START */
  .breadcrumbs-title {
    font-size: 36px;
  }
  .breadcrumbs-wrap .container > span {
    font-size: 16px;
  }
  /* Breadcrumbs 575 END */
}

@media (max-width: 420px) {
  /* Contacts 420px START  */
  .contacts-row {
    padding: 40px 20px;
  }
  /* Contacts 420px END  */
}
/* Responsive END */
