@import url('global.css');

/* Header START */
.header-top {
  background-color: #33344f;
  color: #fff;
  padding: 18px 0;
}
.header-top-row,
.header-info {
  display: flex;
  align-items: center;
}
.header-info {
  margin-left: auto;
  gap: 25px;
  align-items: center;
}
.header-info-icon img {
  display: block;
}
.header-social {
  display: flex;
  gap: 22px;
}
.header-social a {
  transition: 0.5s ease;
}
.header-social a:hover {
  opacity: 0.8;
}
.header-social a img {
  display: block;
}
.header-info-item {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header-bottom-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
}
.header-logo img {
  max-width: 150px;
}
.menu-nav ul {
  padding: 0;
}
.menu-nav > ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  column-gap: 40px;
}
.menu-nav ul li {
  position: relative;
  /* display: flex; */
}
.menu-nav ul li a {
  display: block;
  transition: 0.3s ease;
}
.menu-nav ul li.menu-item-has-children {
  display: flex;
}
.menu-nav ul li.menu-item-has-children::after {
  content: url('../images/header/caret.svg');
  margin-left: 8px;
}
.menu-nav ul li.menu-item-has-children:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transform: none;
}
.menu-nav ul .sub-menu {
  position: absolute;
  top: calc(100% + 10px);
  left: 0;
  list-style-type: none;
  min-width: 195px;
  border-radius: 5px;
  z-index: 2;
  background-color: var(--color-white);
  box-shadow: 0 0 5px 0 rgba(71, 71, 77, 0.12);
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  transition: 0.5s ease;
  transform: translateX(20px);
}
.menu-nav ul .sub-menu li a {
  padding: 12px 20px;
}
.menu-nav ul .sub-menu li a:hover {
  background-color: var(--color-1);
  color: var(--color-white);
}
.header-btn a {
  display: inline-block;
  background-color: var(--color-1);
  padding: 14px 50px;
  border-radius: 5px;
  color: var(--color-white);
  font-size: 18px;
  cursor: pointer;
  transition: 0.5s ease;
}
.header-btn a:hover {
  background-color: var(--color-1-hover);
}
/* Header END */

/* Banner START */
.banner-item {
  position: relative;
  padding: 120px 0;
  color: var(--color-white);
  z-index: 0;
  min-height: 660px;
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-item::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(57, 54, 159, 0.28);
  z-index: -1;
}
.banner-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.5;
}
.banner-desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 190%;
  max-width: 572px;
  margin-bottom: 30px;
}
.swiper-banner .swiper-pagination {
  bottom: 35px;
}
/* Banner END */
